*~
a.out
*.a
*.so*
*.data
*.deb
*#
eshell/*
*.last
elpa/*
session*
url/
*.orig
tramp
diary
*.dat
**/.python-environments/*
**/*.elc
.lsp-session*
projectile-bookmarks.eld
**/*dap-breakpoints
**/.extension
github
places
projects
**/*cache*/*
